body{
    background-color: #EDEFEE;
    font-family: 'Markszi Text',serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-size: 3rem;
    
}

h2{
    font-size: 2rem;
}

header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 200px;
}


.container {
    background-color:#2b4238;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    border-radius: 15%;
}

.container li {
    list-style-type: none;
}

.container a{
    display:inline-block;
    padding: 25px;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    color:#ffff;
}

.container a:hover {
    background-color:rgb(176, 222, 185);
}

section{
    display: flex;
}

h1,h2{
    color:#2b4238;
}

article{
    flex:1;
}
section article>img{
    width: 200px;
    height: 200px;
}
footer{
    display:flex;
}
footer div{
    flex: 1;
}
footer div>img{
    width: 70px;
    height: 50px;

}